<!--====== FOOTER PART START ======-->

<footer id="footer" class="footer-area" style="background-image: url(assets/images/bg-4.jpg)">
    <div class="footer-widget pt-80 pb-130">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-8"></div>

                <div class="col-lg-3 col-md-4 col-sm-8">
                    <div class="footer-logo mt-50 f-title footer-link" style="cursor: pointer">
                         <ul class="footer-info">
                            <li>
                                <div class="single-info">
                                    <div class="info-icon">
                                        <i style=" color: #EB3656;" class="lni-phone-handset"></i>
                                    </div>
                                    <div class="info-content">
                                        <p >05224022758</p>
                                    </div>
                                </div> <!-- single info -->
                            </li>
                            <li>
                                <div class="single-info">
                                    <div class="info-icon">
                                        <i style=" color: #EB3656;" class="lni-envelope"></i>
                                    </div>
                                    <div class="info-content">
                                        <p >Info.exceshomes@gmail.com</p>
                                    </div>
                                </div> <!-- single info -->
                            </li>
                            <li>
                                <div class="single-info">
                                    <div class="info-icon">
                                        <i style=" color: #EB3656;" class="lni-map"></i>
                                    </div>
                                    <div class="info-content">
                                        <p >Ground floor, Shiva Complex, near Odeon Cinemas,
                                            Burlington, lucknow.</p>
                                        <p >Pin: 226001</p>
                                    </div>
                                </div> <!-- single info -->
                            </li>
                            <li>
                                <div class="single-info">
                                    <div class="info-icon">
                                        <i style=" color: #EB3656;" class="lni-alarm-clock"></i>
                                    </div>
                                    <div class="info-content">
                                        <p >Timing: 10 - 7.</p>

                                    </div>
                                </div> <!-- single info -->
                            </li>
                        </ul>
                        <ul class="footer-social mt-20" >
                            <li ><a href="https://m.facebook.com/rituraj.srivastava.35?ref=bookmarks"><i class="lni-facebook-filled"></i></a></li>
                            <li><a href="https://www.linkedin.com/mwlite/me"><i class="lni-linkedin-original"></i></a></li>
                            <li><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=Info.exceshomes@gmail.com" target="_blank"><i class="lni-google"></i></a></li>
                        </ul>
                    </div> <!-- footer logo -->
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="footer-link mt-45">
                        <div class="f-title">
                            <h4 class="title" style=" color: #EB3656;">Essential Links</h4>
                        </div>
                        <ul class="mt-15">
                            <li><a  routerLink="/about" routerLinkActive="active">About</a></li>
                            <li><a  routerLink="/projects" routerLinkActive="active">Projects</a></li>
                            <li><a  routerLink="/contact" routerLinkActive="active">Contact Us</a></li>
                            <li><a  routerLink="/services" routerLinkActive="active">Services</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="footer-link mt-45">
                        <div class="f-title">
                            <h4 class="title" style=" color: #EB3656;">Services</h4>
                        </div>
                        <ul class="mt-15">
                            <li ><a  href="#">Painting and Carving</a></li>
                            <li ><a  href="#">Wood furnishing</a></li>
                            <li ><a  href="#">Flooring and ceiling work</a></li>
                            <li ><a  href="#">Glass work</a></li>
                            <li ><a  href="#">Marble work</a></li>
                            <li ><a  href="#">Electric work</a></li>
                            <li ><a  href="#">Plumbing work</a></li>



                        </ul>
                    </div>
                </div>
                <!-- <div class="col-lg-3 col-md-5 col-sm-8">
                    <div class="footer-newsleter mt-45">
                        <div class="f-title">
                            <h4 class="title">Newsleter</h4>
                        </div>
                        <p class="mt-15">Lorem ipsum dolor sit amet, consec tetur adipiscing elit.</p>
                        <form action="#">
                            <div class="newsleter mt-20">
                                <input type="email" placeholder="info@contact.com">
                                <button><i class="lni-angle-double-right"></i></button>
                            </div>
                        </form>
                    </div>
                </div> -->
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- footer widget -->
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="text-center">
                <p class="text-center">We provide services in major cities: <a class="ft"> Delhi  &#160; Gurugram &#160; Ludhiyana &#160; Faridabad &#160; Agra &#160; Noida &#160; Amritsar</a></p>

            </div>
        </div>
    </div>
    <div class="copyright-area" style="background-color: rgb(10, 10, 56)">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright text-center">
                        <p> &#169; <a routerLink="/home" routerLinkActive="active" class="ft"> Exces Homes</a> Company</p>
                    </div> <!-- copyright -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- copyright-area -->
</footer>

<!--====== FOOTER PART ENDS ======-->