<app-navigation></app-navigation>
<header id="home" class="header-area pt-100">
    
    <div class="shape header-shape-three animation-one">
        <img src="assets/images/banner/shape/shape-3.png" alt="shape">
    </div> <!-- header shape three -->
  
    <p class="head"><b>
        “We have got the best gift i.e. beautiful life, now it is our responsibilty to make it
        more beautiful for you." </b></p>
</header>

<!--====== ABOUT PART START ======-->


<section id="about" class="about-area pt-80 pb-130">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-image mt-50 clearfix">
                    <div class="single-image float-left">
                        <img src="assets/images/about/g9.jpg" class="img-fluid" alt="About">
                    </div> <!-- single image -->
                    <!-- <div data-aos="fade-right" class="about-btn">
                       <a class="main-btn" href="#"><span>27</span> Years Experience</a>
                   </div> -->
                    <div class="single-image image-tow float-right">
                        <img src="assets/images/about/g10.jpg" class="img-fluid" alt="About">
                    </div> <!-- single image -->
                </div> <!-- about image -->
            </div>

            <div class="col-lg-6">
                <div class="about-content mt-45">
                    <h4 class="about-welcome">About Us </h4>
                    <p class="mt-25">
                        Founded by Rituraj, the chief executive officer of <b>“Exces Homes”</b> in lucknow. We are
                        equipped with the renovation of your property which covers the interior and exterior zone as
                        residential private place, commercial, and working places under public authorities to give the
                        aesthetic value to it. We specializes in the field of adding requirements to a home
                        to give a new outlook to your home. We are dealing in all the countries. This is a key to create
                        a professionalism thinking to cooperate or connect with the all level of customers standards.
                        <b>“Exces Homes”</b> is one-step solution to all your home related problems. Each of our member
                        dedicate themselves by providing you with extraordinary services, workmanship, and professional
                        integrity. We take great pride to build your dream place. We understand the importance of
                        creating a space that fits to you and your family. As, home is a diary of moments.
                    </p>
                </div> <!-- about content -->
            </div>
            <div class="col-lg-6">

                <div class="about-content mt-45">
                    <h3 class="about-welcome">Our Process </h3>
                    <h4>
                        Exces Homes designing and renovations, we don’t build houses – we build homes</h4>
                    <p class="mt-25">
                        The best part of man's identity is his own Home .
                        To build a dream home, it is our responsibility to make it possible with honest and fairness
                        performance .
                        Our real process depends on our customer's satisfaction based on safety, quality,
                        timely services and anticipation of their needs. We will provide professional approach
                        with improvements, design build, high-rise in corporate sector which meet budget goals.
                        Our focal point is to attract the on-lookers by seeing home at once and for commercial sense it
                        will leave a ever-lasting impression on the clients.
                        So, do you want to grab the attention of the friends, family and relations? Then, <b>"Exces
                            Homes"</b> is here to give your home a focus.
                        We will focus on the use of the good raw material with longevity of our services.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-image mt-50 clearfix">
                    <div class="single-image float-left">
                        <img src="assets/images/project/b7.jpg" class="img-fluid" alt="About">
                    </div> <!-- single image -->
                    <!-- <div data-aos="fade-right" class="about-btn">
                       <a class="main-btn" href="#"><span>27</span> Years Experience</a>
                   </div> -->
                    <div class="single-image image-tow float-right">
                        <img src="assets/images/project/sicc_bar_lounge.jpg" class="img-fluid" alt="About">
                    </div> <!-- single image -->
                </div> <!-- about image -->
            </div>
            <div class="col-lg-6">
                <div class="about-image mt-50 clearfix">
                    <div class="single-image float-left">
                        <img src="assets/images/project/reception.jpg" class="img-fluid" alt="About">
                    </div> <!-- single image -->
                    <!-- <div data-aos="fade-right" class="about-btn">
                       <a class="main-btn" href="#"><span>27</span> Years Experience</a>
                   </div> -->
                    <div class="single-image image-tow float-right">
                        <img src="assets/images/project/red.webp" class="img-fluid" alt="About">
                    </div> <!-- single image -->
                </div> <!-- about image -->
            </div>
            <div class="col-lg-6">

                <div class="about-content mt-45">
                    <h3 class="about-welcome">Why choose us? </h3>

                    <p class="mt-25">

                        Under the transformation of the property, we have the privilege to cater to the needs of your's.
                        Our customer's is our priority for fulfilling their desires of having their dream home by
                        reshaping or cementing into a unique form. Renovation of property is the renewation of
                        surrounding. Today, people have three basic requirements as well as a medium of social status
                        i.e. <b>food, clothing, and shelter</b>. We are here to look after your <b>shelter</b> and give
                        it a modernized and traditionally artistic look.

                        From entry to center of your house, we are passionate to make your home a best place for a
                        living, a taste of postivity, pure ambience to your home or working space. We have a proper
                        management with efficiency and on-time completion of the work. Our pledge is to establish
                        lasting relationship with you by exceeding expectations and gaining trust with stunning
                        performance by every member of our team.
                    </p>
                </div>
            </div>
        </div>
        <!-- row -->
    </div> <!-- container -->
</section>

<!--====== ABOUT PART ENDS ======-->

<app-footer></app-footer>