<app-navigation></app-navigation>


<!--====== PROJECT PART START ======-->

<section id="project" class="project-area pt-125 pb-130">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center pb-50">
                    <h5 class="sub-title mb-15">Featured Works</h5>
                    <h2 class="title">Projects You May Love</h2>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
    </div>
    <div class="container-fluid">
        <div class="row project-active">
            <div class="col-lg-4">
                <div class="single-project">
                    <div class="card project-image">
                        <img src="assets/images/project/b3.jpg" class="img-fluid" alt="Project">
                    </div>
                    <div class="project-content">
                        <a class="project-title" href="#">Cafe House</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-project">
                    <div class="card project-image">
                        <img src="assets/images/project/b7.jpg" class="img-fluid" alt="Project">
                    </div>
                    <div class="project-content">
                        <a class="project-title" href="#">Office Meeting Room </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-project">
                    <div class="card project-image">
                        <img src="assets/images/project/sicc_bar_lounge.jpg" class="img-fluid" alt="Project">
                    </div>
                    <div class="project-content">
                        <a class="project-title" href="#">Bar/Lounge Design</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-project">
                    <div class="card project-image">
                        <img src="assets/images/project/ceiling6.jpg" class="img-fluid" alt="Project">
                    </div>
                    <div class="project-content">
                        <a class="project-title" href="#">Home Celing Design</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-project">
                    <div class="card project-image">
                        <img src="assets/images/project/ceiling5.jpg" class="img-fluid" alt="Project">
                    </div>
                    <div class="project-content">
                        <a class="project-title" href="#">Home Ceiling Design</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-project">
                    <div class="card project-image">
                        <img src="assets/images/project/reception.jpg" class="img-fluid" alt="Project">
                    </div>
                    <div class="project-content">
                        <a class="project-title" href="#">Hotel Reception Design</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-project">
                    <div class="card project-image">
                        <img src="assets/images/project/f1.jpg" alt="Project" class="img-fluid">
                    </div>
                    <div class="project-content">
                        <a class="project-title" href="#">Home Interior Design</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-project">
                    <div class="card project-image">
                        <img src="assets/images/project/corridor.jpg" class="img-fluid" alt="Project">

                    </div>
                    <div class="project-content">
                        <a class="project-title" href="#">Corridor Design</a>
                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="single-project">
                    <div class="card project-image">
                        <img src="assets/images/project/red.webp" class="img-fluid" alt="Project">

                    </div>
                    <div class="project-content">
                        <a class="project-title" href="#">Bedroom Design</a>
                    </div>
                </div>

            </div>
            <div class="col-lg-5">
                <div class="single-project">
                    <div class="card project-image">
                        <img src="assets/images/project/ceiling2.jpg" class="img-fluid" alt="Project">

                    </div>
                    <div class="project-content">
                        <a class="project-title" href="#">Home Ceiling Design</a>
                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="single-project">
                    <div class="card project-image">
                        <img src="assets/images/project/ceiling4.jpg" class="img-fluid" alt="Project">

                    </div>
                    <div class="project-content">
                        <a class="project-title" href="#">Home Ceiling Design</a>
                    </div>
                </div>

            </div>
            <div class="col-lg-3">
                <div class="single-project">
                    <div class="card project-image">
                        <img src="assets/images/project/wood work.jpg" class="img-fluid" alt="Project">

                    </div>
                    <div class="project-content">
                        <a class="project-title" href="#">Wood Work</a>
                    </div>
                </div>

            </div>

            <div class="col-lg-4">
                <div class="single-project">
                    <div class="card project-image">
                        <img src="assets/images/project/bu.jpg" class="img-fluid" alt="Project">

                    </div>
                    <div class="project-content">
                        <a class="project-title" href="#">Office Lightning</a>
                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="single-project">
                    <div class="card project-image">
                        <img src="assets/images/project/wooddesign.jpg" class="img-fluid" alt="Project">

                    </div>
                    <div class="project-content">
                        <a class="project-title" href="#">Wood Work Design</a>
                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="single-project">
                    <div class="card project-image">
                        <img src="assets/images/project/ceiling3.jpg" class="img-fluid" alt="Project">

                    </div>
                    <div class="project-content">
                        <a class="project-title" href="#">Ceiling Lightning Design</a>
                    </div>
                </div>

            </div>
            <div class="col-lg-5">
                <div class="single-project">
                    <div class="card project-image">
                        <img src="assets/images/project/wood.webp" class="img-fluid" alt="Project">

                    </div>
                    <div class="project-content">
                        <a class="project-title" href="#">Wood Furnishing</a>
                    </div>
                </div>

            </div>
            <div class="col-lg-3">
                <div class="single-project">
                    <div class="card project-image">
                        <img src="assets/images/project/gl.jpg" class="img-fluid" alt="Project">

                    </div>
                    <div class="project-content">
                        <a class="project-title" href="#">Glass Work</a>
                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="single-project">
                    <div class="card project-image">
                        <img src="assets/images/project/marble.jpg" class="img-fluid" alt="Project">

                    </div>
                    <div class="project-content">
                        <a class="project-title" href="#">Marble Work</a>
                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="single-project">
                    <div class="card project-image">
                        <img src="assets/images/home/car3.webp" class="img-fluid" alt="Project">

                    </div>
                    <div class="project-content">
                        <a class="project-title" href="#">Lighting Work</a>
                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="single-project">
                    <div class="card project-image">
                        <img src="assets/images/home/car1.jpg" class="img-fluid" alt="Project">

                    </div>
                    <div class="project-content">
                        <a class="project-title" href="#">Commercial Work</a>
                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="single-project">
                    <div class="card project-image">
                        <img src="assets/images/home/marble.jpg" class="img-fluid" alt="Project">

                    </div>
                    <div class="project-content">
                        <a class="project-title" href="#">Marble Work</a>
                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="single-project">
                    <div class="card project-image">
                        <img src="assets/images/home/car6.jpg" class="img-fluid" alt="Project">

                    </div>
                    <div class="project-content">
                        <a class="project-title" href="#">Heritage Home Renovation</a>
                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="single-project">
                    <div class="card project-image">
                        <img src="assets/images/project/kg.jpg" class="img-fluid" alt="Project">

                    </div>
                    <div class="project-content">
                        <a class="project-title" href="#">Kitchen Glass Cabinet</a>
                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="single-project">
                    <div class="card project-image">
                        <img src="assets/images/project/gh.jpg" class="img-fluid" alt="Project">

                    </div>
                    <div class="project-content">
                        <a class="project-title" href="#">Glass Door</a>
                    </div>
                </div>

            </div>
            <div class="col-lg-3">
                <div class="single-project">
                    <div class="card project-image">
                        <img src="assets/images/project/kg3.jpg" class="img-fluid" alt="Project">

                    </div>
                    <div class="project-content">
                        <a class="project-title" href="#">Marble/Wood Work</a>
                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="single-project">
                    <div class="card project-image">
                        <img src="assets/images/project/gl4.jpg" class="img-fluid" alt="Project">

                    </div>
                    <div class="project-content">
                        <a class="project-title" href="#">Glass Panel</a>
                    </div>
                </div>

            </div>
            <div class="col-lg-5">
                <div class="single-project">
                    <div class="card project-image">
                        <img src="assets/images/project/wd.jpg" class="img-fluid" alt="Project">

                    </div>
                    <div class="project-content">
                        <a class="project-title" href="#">Wood Furnishing</a>
                    </div>
                </div>

            </div>
            <div class="col-lg-5">
                <div class="single-project">
                    <div class="card project-image">
                        <img src="assets/images/project/kg2.jpg" class="img-fluid" alt="Project">

                    </div>
                    <div class="project-content">
                        <a class="project-title" href="#">Glass Cabinet</a>
                    </div>
                </div>

            </div>
            <div class="col-lg-3">
                <div class="single-project">
                    <div class="card project-image">
                        <img src="assets/images/project/gl2.jpg" class="img-fluid" alt="Project">

                    </div>
                    <div class="project-content">
                        <a class="project-title" href="#">Glass Door</a>
                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="single-project">
                    <div class="card project-image">
                        <img src="assets/images/project/wd3.jpg" class="img-fluid" alt="Project">

                    </div>
                    <div class="project-content">
                        <a class="project-title" href="#">Wood Furnishing</a>
                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="single-project">
                    <div class="card project-image">
                        <img src="assets/images/project/cl.jpg" class="img-fluid" alt="Project">

                    </div>
                    <div class="project-content">
                        <a class="project-title" href="#">Ceiling/Lightning Work</a>
                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="single-project">
                    <div class="card project-image">
                        <img src="assets/images/project/wd2.jpg" class="img-fluid" alt="Project">

                    </div>
                    <div class="project-content">
                        <a class="project-title" href="#">Wood Furnishing</a>
                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="single-project">
                    <div class="card project-image">
                        <img src="assets/images/project/cl3.jpg" class="img-fluid" alt="Project">

                    </div>
                    <div class="project-content">
                        <a class="project-title" href="#">Ceiling with Wood Work</a>
                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="single-project">
                    <div class="card project-image">
                        <img src="assets/images/project/cl5.jpg" class="img-fluid" alt="Project">

                    </div>
                    <div class="project-content">
                        <a class="project-title" href="#">Ceiling/Lightning</a>
                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="single-project">
                    <div class="card project-image">
                        <img src="assets/images/project/cl4.jpg" class="img-fluid" alt="Project">

                    </div>
                    <div class="project-content">
                        <a class="project-title" href="#"> False Ceiling Work</a>
                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                    <div class="single-project">
                        <div class="card project-image">
                            <img src="assets/images/project/cl2.jpg" class="img-fluid" alt="Project">
    
                        </div>
                        <div class="project-content">
                            <a class="project-title" href="#"> False Ceiling/Lightning Work</a>
                        </div>
                    </div>
    
                </div>
        </div>

    </div>
</section>

<!--====== PROJECT PART ENDS ======-->

<app-footer></app-footer>