<section class="testimonial_area">
          <h2>What Our core client say ?</h2>
          <div class="carousel slide testimonial_slide carousel-fade" data-ride="carousel">
              <div class="carousel-inner">
                  <div class="carousel-item active">  
                     <div class="testimonial_content"> 
                          <p>We looked at a number of firms. We choose Exces Homes because of their overall demeanor,
                               and their presentation stood out from everyone else.</p>
                          <div class="media">
                              <img src="http://themazine.com/html/kabbo/images/testimonial-1.jpg" alt="">
                              <div class="media-body">
                                  <a href="#">Emran Khan</a>
                              </div>
                          </div>
                     </div>
                  </div>
                  <div class="carousel-item"> 
                     <div class="testimonial_content"> 
                          <p>

                            Exces Homes did an excellent job with my kitchen and deck remodel.
                             We would not think of using anyone else.
                          </p>
                          <div class="media">
                              <img src="http://themazine.com/html/kabbo/images/testimonial-3.jpg" alt="">
                              <div class="media-body">
                                  <a href="#">Edvin Phillips</a>
                              </div>
                          </div>
                     </div>
                  </div>
                  <div class="carousel-item"> 
                     <div class="testimonial_content"> 
                          <p>Exces Homes is a wonderful company to work with. It was a spectacular experience.
                               Their staff is easy to approach, easy to understand and very creative.
                                A major remodel is really a collaborative effort because a good design is not something that comes overnight. It evolves in the process.
                               We love the result and we really like to recommend them.</p>
                          <div class="media">
                              <img src="http://themazine.com/html/kabbo/images/testimonial-4.jpg" alt="">
                              <div class="media-body">
                                  <a href="#">Sunita Singh</a>
                              </div>
                          </div>
                     </div>
                  </div>
                  <div class="carousel-item"> 
                     <div class="testimonial_content"> 
                          <p>
                                We enjoyed our Exces Homes experience from the very beginning to the end… 
                                they have a well organized operation and offer “one stop remodeling” for 
                                those who want a stress free remodeling experience.
                                 Client and project satisfaction are their top priority.
                          </p>
                          <div class="media">
                              <img src="http://themazine.com/html/kabbo/images/testimonial-5.jpg" alt="">
                              <div class="media-body">
                                  <a href="#">Priya Ahluwalia</a>
                              </div>
                          </div>
                     </div>
                  </div>
              </div>
              
              <div class="nav_control"> 
                  <a class="control-prev" href=".testimonial_slide" role="button" data-slide="prev">
                      <i class="fas fa"><h3><b><</b></h3></i> 
                  </a>
                  <a class="control-next" href=".testimonial_slide" role="button" data-slide="next"> 
                      <i class="fas fa"><h3><b>></b></h3></i>
                  </a>
              </div> 
          </div>  
          <ul class="indicators">
              <li data-target=".testimonial_slide" data-slide-to="0" class="testimonial_1"><img src="http://themazine.com/html/kabbo/images/testimonial-2.jpg" alt=""></li>
              <li data-target=".testimonial_slide" data-slide-to="1" class="testimonial_2"><img src="http://themazine.com/html/kabbo/images/testimonial-3.jpg" alt=""></li>
              <li data-target=".testimonial_slide" data-slide-to="2" class="testimonial_3"><img src="http://themazine.com/html/kabbo/images/testimonial-4.jpg" alt=""></li>
              <li data-target=".testimonial_slide" data-slide-to="3" class="testimonial_4"><img src="http://themazine.com/html/kabbo/images/testimonial-5.jpg" alt=""></li>
              <li class="round_shap"></li>
          </ul>
      </section>