<app-navigation></app-navigation>

<section class="our-blog p-0 m-0 bg-silver">
    <div class="container work-process  pb-5 pt-5">
        <div class="title mb-5  text-center" style="margin-top: 16%;">
        <h3>How <span class="site-color">We Process</span></h3>
    </div>
        <!-- ============ step 1 =========== -->
        <div class="row">
            <div class="col-md-5">
                <div class="process-box process-left" >
                    <div class="row">
                        <div class="col-md-5">
                            <div class="process-step">
                                <p class="m-0 p-0">Step</p>
                                <h2 class="m-0 p-0">01</h2>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <p class="sr">Share the work you want along with the budget.</p>
                        </div>
                    </div>
                    <div class="process-line-l"></div>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <div class="process-point-right"></div>
            </div>
        </div>
        <!-- ============ step 2 =========== -->
        <div class="row">
            
            <div class="col-md-5">
                <div class="process-point-left"></div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <div class="process-box process-right">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="process-step">
                                <p class="m-0 p-0">Step</p>
                                <h2 class="m-0 p-0">02</h2>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <p class="sr">Our representatives will call you and make a visit.</p>
                        </div>
                    </div>
                    <div class="process-line-r"></div>
                </div>
            </div>

        </div>
        <!-- ============ step 3 =========== -->
        <div class="row">
            <div class="col-md-5">
                <div class="process-box process-left">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="process-step">
                                <p class="m-0 p-0">Step</p>
                                <h2 class="m-0 p-0">03</h2>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <p class="sr">Now your place is our responsibility, so relax on swing chair.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <div class="process-point-right"></div>
            </div>
        </div>
        <!-- ============ step 4 =========== -->
        
       
    </div>
</section>





<!--====== SERVICES PART START ======-->

<section id="service" class="services-area pt-125 pb-130 gray-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center pb-20">
                    <h5 class="sub-title mb-15">Our Services</h5>
                    <h2 class="title">What We Do?</h2>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-services text-center mt-30 wow fadeInUp" data-wow-duration="1.5s"
                    data-wow-delay="0.4s">
                    <div class="services-icon">
                        <i class="lni-paint-roller"></i>
                    </div>
                    <div class="services-content mt-15">
                        <h4 class="services-title">Paintings and carvings</h4>
                        <p class="mt-20">With the specialization of paintings and carvings in your home,
                            makes a artistic Outlook and a attractive appeal
                            <a class="text-primary" style="cursor: pointer" data-target="#model1"
                                data-toggle="modal">read more</a> </p>
                    </div>
                </div> <!-- single services -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-services text-center mt-30 wow fadeInUp" data-wow-duration="1.5s"
                    data-wow-delay="0.8s">
                    <div class="services-icon">
                        <i class="fas fa-bolt"></i>
                    </div>
                    <div class="services-content mt-15">
                        <h4 class="services-title">Electric Work</h4>
                        <p class="mt-20">Electric works has been major focused on the proper wire connection and
                            better lighting quality which increases the home beauty.
                            <a class="text-primary" style="cursor: pointer" data-target="#model2"
                                data-toggle="modal">read more</a> 
                        </p>
                    </div>
                </div> <!-- single services -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-services text-center mt-30 wow fadeInUp" data-wow-duration="1.5s"
                    data-wow-delay="1.2s">
                    <div class="services-icon">
                        <i class="fas fa-home"></i>
                    </div>
                    <div class="services-content mt-15">
                        <h4 class="services-title">Flooring and Ceiling</h4>
                        <p class="mt-20">Ceiling and flooring adds an attraction of the guests. It has incorporated with the lights of different colours on ceilings,
                             water-proof flooring
                             <a class="text-primary" style="cursor: pointer" data-target="#model3"
                                data-toggle="modal">read more</a>  </p>
                    </div>
                </div> <!-- single services -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-services text-center mt-30 wow fadeInUp" data-wow-duration="1.5s"
                    data-wow-delay="0.4s">
                    <div class="services-icon">
                        <i class="fas fa-shower"></i>
                    </div>
                    <div class="services-content mt-15">
                        <h4 class="services-title">Plumbing Work</h4>
                        <p class="mt-20">Plumbing work has been effective for two foremost reasons that is for water management and 
                            to fit the taps, bathtub sinks, and else. .
                            <a class="text-primary" style="cursor: pointer" data-target="#model4"
                            data-toggle="modal">read more</a> 
                        </p>
                    </div>
                </div> <!-- single services -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-services text-center mt-30 wow fadeInUp" data-wow-duration="1.5s"
                    data-wow-delay="0.8s">
                    <div class="services-icon">
                        <i class="fas fa-tree"></i>
                    </div>
                    <div class="services-content mt-15">
                        <h4 class="services-title">Wood Furnishing</h4>
                        <p class="mt-20">Wood furnishing makes to give your
                             windows and doors properly a better and easily close and open system.
                             <a class="text-primary" style="cursor: pointer" data-target="#model5"
                             data-toggle="modal">read more</a>


                            </p>
                    </div>
                </div> <!-- single services -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-services text-center mt-30 wow fadeInUp" data-wow-duration="1.5s"
                    data-wow-delay="1.2s">
                    <div class="services-icon">
                        <i class="fab fa-accusoft"></i>
                    </div>
                    <div class="services-content mt-15">
                        <h4 class="services-title">Glass Work</h4>
                        <p class="mt-20">When glass work has been confined to the house,
                             it adds an scenic quality to your home.
                             <a class="text-primary" style="cursor: pointer" data-target="#model6"
                             data-toggle="modal">read more</a>
                            
                        
                        </p>
                    </div>
                </div> <!-- single services -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-services text-center mt-30 wow fadeInUp" data-wow-duration="1.5s"
                    data-wow-delay="1.2s">
                    <div class="services-icon">
                        <i class="lni lni-home"></i>
                    </div>
                    <div class="services-content mt-15">
                        <h4 class="services-title">Marble Work</h4>
                        <p class="mt-20">
                                Decorative and designer marbles makes home an attractive and clean. 
                                Marble quality is of different types as Indian marble and Italian marble...
                                <a class="text-primary" style="cursor: pointer" data-target="#model7"
                                data-toggle="modal">read more</a>




                        </p>
                    </div>
                </div> <!-- single services -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== SERVICES PART ENDS ======-->

<app-footer></app-footer>



<!-- Pianting Modal -->
<div class="modal fade" id="model1" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Pantings and Carvings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <img src="assets/images/project/grand_hyatt.jpg" class="img-fluid im">
                </div>
                <hr>
                <p>About</p>
                <p>With the specialization of paintings and carvings in your home,
                    makes a artistic Outlook and a attractive appeal to the on-lookers.
                    It fascinates the look of your home with different colour combination and sharp models.</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal"
                routerLink="/contact" routerLinkActive="active"
                 class="btn btn-warning">Contact Us</button>

                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<!--Electric Modal -->
<div class="modal fade" id="model2" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Electric Work</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <img src="assets/images/project/sicc.jpg" class="img-fluid im">
                </div>
                <hr>
                <p>About</p>
                <p>Electric works has been major focused on the proper wire connection and better lighting quality
                    which increases the home beauty. It has to be from yellow light in balcony area,
                    is that there should be proper installation and conduct of electrical wires.</p>

            </div>
            <div class="modal-footer">
                <button type="button" routerLink="/contact" data-dismiss="modal"
                 routerLinkActive="active" class="btn btn-warning">Contact Us</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Flooring  Modal -->
<div class="modal fade" id="model3" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Flooring and Ceiling</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <img src="assets/images/project/ceiling4.jpg" class="img-fluid im">
                    </div>
                    <hr>
                    <p>About</p>
                    <p>Ceiling and flooring adds an attraction of the guests. It has incorporated with the lights of different colours
                         on ceilings, water-proof flooring and of fibre dense material flooring and
                          ceilings of to act as a resistant for fire, heat and smoke.
                         Floorings are of different forms as in bathroom, bubbles and kids room has flooring  of cartoons. </p>
    
                </div>
                <div class="modal-footer">
                    <button type="button" routerLink="/contact" data-dismiss="modal"
                    routerLinkActive="active" class="btn btn-warning">Contact Us</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!--plumbing  Modal -->
<div class="modal fade" id="model4" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Plumbing Work</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <img src="assets/images/project/f1.jpg" class="img-fluid im">
                    </div>
                    <hr>
                    <p>About</p>
                    <p>
                            Plumbing work has been effective for two foremost reasons that is for water management and 
                            to fit the taps, bathtub sinks, and else. It has been required for the better and different quantity of taps,
                             multi-directional showers that makes your bathroom, kitchen more fascinating.    
                    </p>
    
                </div>
                <div class="modal-footer">
                    <button type="button" routerLink="/contact" data-dismiss="modal"
                     routerLinkActive="active" class="btn btn-warning">Contact Us</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

        <!--wood Modal -->
<div class="modal fade" id="model5" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Wood Furnishig</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <img src="assets/images/project/wood.webp" class="img-fluid im">
                    </div>
                    <hr>
                    <p>About</p>
                    <p>
                            Wood furnishing makes to give your windows and doors properly a better and easily close and open system.
                             Hard quality of wood has been used as mahogany, oak which will help to make it air dried and less moisture.
                             When highly organized with nature, it changes your mood and develops into more organic sense.    
                    </p>
    
                </div>
                <div class="modal-footer">
                    <button type="button" routerLink="/contact" routerLinkActive="active"
                    data-dismiss="modal" class="btn btn-warning">Contact Us</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


            <!--glass Modal -->
<div class="modal fade" id="model6" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Glass Work</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <img src="assets/images/project/gl.jpg" class="img-fluid im" >
                    </div>
                    <hr>
                    <p>About</p>
                    <p>
                            When glass work has been confined to the house, it adds an scenic quality to your home.
                             Glass work enhanced with decorative and frameless mirrors to your walls.
                             Fine quality of glass work makes it to be free from any harm. .    
                    </p>
    
                </div>
                <div class="modal-footer">
                    <button type="button" routerLink="/contact" routerLinkActive="active"
                    data-dismiss="modal" class="btn btn-warning">Contact Us</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


                <!--Marble Modal -->
<div class="modal fade" id="model7" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Marble Work</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <img src="assets/images/project/marble.jpg" class="img-fluid im" >
                    </div>
                    <hr>
                    <p>About</p>
                    <p>
                            Decorative and designer marbles makes home an attractive and clean. 
                            Marble quality is of different types as Indian marble and Italian marble,
                             and it has been of different designs as chess marble, creamy marble, off- white marble.
                             Marble inlay has been done an expert for the sharp engravings.    
                    </p>
    
                </div>
                <div class="modal-footer">
                    <button type="button" routerLink="/contact" 
                    routerLinkActive="active" data-dismiss="modal"
                     class="btn btn-warning">Contact Us</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    
