<app-navigation></app-navigation>


<!--====== TEAM PART START ======-->

<section id="team" class="team-area pt-125 pb-130 gray-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center pb-20">
                    <h5 class="sub-title mb-15">Meet The Team</h5>
                    <h2 class="title">Our Experts</h2>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row">
            <div class="col-lg-2 col-md-6 col-sm-6"></div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-team text-center mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.4s">
                    <div class="team-image">
                        <img src="assets/images/team/saifu.jpeg" alt="Team" 
                        style="cursor: pointer"
                        data-target="#model1" data-toggle="modal">
                    </div>
                    <div class="team-content">
                        <h4 class="team-name"><a href="#">Saif Ameen</a></h4>
                        <span class="sub-title">Head of Operations</span>
                        <ul class="social mt-25">
                            <li><a href="https://www.facebook.com/saif.ameen.10"><i class="lni-facebook-filled"></i></a>
                            </li>
                            <li><a href=" https://www.linkedin.com/in/saif-ameen-371392193"><i
                                        class="lni-linkedin-original"></i></a></li>
                        </ul>
                    </div>
                </div> <!-- single team -->
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-team text-center mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.8s">
                    <div class="team-image">
                        <img src="assets/images/team/rituraj.jpeg" alt="Team"
                        style="cursor: pointer" data-target="#model2" data-toggle="modal">
                    </div>
                    <div class="team-content">
                        <h4 class="team-name"><a href="#">Rituraj</a></h4>
                        <span class="sub-title">Founder and CEO</span>
                        <ul class="social mt-25">
                            <li><a href="https://m.facebook.com/rituraj.srivastava.35?ref=bookmarks"><i
                                        class="lni-facebook-filled"></i></a></li>
                            <li><a href="https://www.linkedin.com/mwlite/me"><i class="lni-linkedin-original"></i></a>
                            </li>
                        </ul>
                    </div>
                </div> <!-- single team -->
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-team text-center mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1.2s">
                    <div class="team-image">
                        <img src="assets/images/team/sj.jpeg" alt="Team" 
                        style="cursor: pointer" data-target="#model3" data-toggle="modal">
                    </div>
                    <div class="team-content">
                        <h4 class="team-name"><a href="#">Saif Jameel</a></h4>
                        <span class="sub-title">Director of Client Development</span>
                        <ul class="social mt-25">
                            <li><a href=" https://www.facebook.com/saif.jamil.9404"><i
                                        class="lni-facebook-filled"></i></a></li>
                            <li><a href="http://www.linkedin.com/in/saif-jameel-4a4393193"><i
                                        class="lni-linkedin-original"></i></a></li>
                        </ul>
                    </div>
                </div> <!-- single team -->
            </div>

        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== TEAM PART ENDS ======-->
<app-footer></app-footer>



<!--saif Modal -->
<div class="modal fade" id="model1" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Saif Ameen
                    <h6>Head of Operations</h6>
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Saif Ameen, Head of operation of Exces Homes company.
                    He is skilled in providing the accustomed services according to customer’s choice.
                    He helps in making your place an intensified look to on-lookers.
                    He has a better understanding of quality and rates to which each work costs
                    off that helps you in deciding a good material of fine quality.</p>
            </div>
            <div class="modal-footer">
                <button type="button" routerLink="/contact" routerLinkActive="active"
                    class="btn btn-warning" data-dismiss="modal">Contact</button>

                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<!--rituraj Modal -->
<div class="modal fade" id="model2" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Rituraj
                    <h6>Founder and CEO</h6>
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Rituraj, Founder and CEO of Exces Homes company.
                    He has the skill of creative working with the experts to understand the customer's
                    satisfaction. He is there to facilitate an insight of innovation and encourage
                    the team to make the best. He is positioned for developing or
                    remodelling from small to high category places into an eye-catching places.</p>
            </div>
            <div class="modal-footer">
                <button type="button" routerLink="/contact" routerLinkActive="active"
                    class="btn btn-warning" data-dismiss="modal">Contact</button>

                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!--saif jameel Modal -->
<div class="modal fade" id="model3" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Saif Jameel
                    <h6>Director of Client Development</h6>
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Saif Jameel, Director of client development of Exces Homes company.
                    He is particular about the desires and wants of the customer’s on the basis of
                    concerned problems and Troublesomes of customer’s. He has the skill of developing the trust
                    of customer’s with good renovation work.
                    He is expertised in providing you a brief knowledge of how to make your
                    place beautiful by helping you to choose correct material as per
                    your desire and budget that suits to your own style and what expansion does place needs.</p>
            </div>
            <div class="modal-footer">
                <button type="button" routerLink="/contact" routerLinkActive="active"
                    class="btn btn-warning" data-dismiss="modal">Contact</button>

                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>